<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><form action='heartfailure' method="POST">
	<h1>Death Predictor of HeartFailures</h1><br><br>
age:						<input type="text" name="a1"><br><br>
anaemia:					<select name='an1'><option>0</option>
												<option>1</option></select>&nbsp;Yes(1),No(0)<br><br>
creatinine_phosphokinase:	<input type="text" name="Cp"><br><br>	
diabetes:					<select name='d1'><option>0</option>
												<option>1</option></select>&nbsp;Yes(1),No(0)<br><br>
ejection_fraction:			<input type="text" name="Ef"><br><br>
high_blood_pressure:		<select name='hbp'><option>0</option>
												<option>1</option></select>&nbsp;Yes(1),No(0)<br><br>
platelets:					<input type="text" name="p1"><br><br>
serum_creatinine:			<input type="text" name="sc1"><br><br>
serum_sodium:				<input type="text" name="ss1"><br><br>
sex:						<select name='x1'><option>0</option>
												<option>1</option></select>&nbsp;Male(1),Female(0)<br><br>	
smoking:	<select name='smk1'><option>0</option>
												<option>1</option></select>&nbsp;Yes(1),No(0)<br><br>
time: <input type="text" name="t1"><br><br>
<input type="Submit"><br><br>
{{answer}}
</form>

</body>
</html>